<div class="simple-calendar">
  <div class="calendar-heading navbar navbar-light justify-content-between">
    <%= link_to 'Previous Week', calendar.url_for_previous_view, class: "btn btn-primary" %>

    <div>
      <span class="calendar-title">
        <%= calendar.date_range.first.strftime('%B %-d') %>
        to
        <%= calendar.date_range.last.strftime('%B %-d %Y') %>
      </span>
    </div>

    <%= link_to 'Next Week', calendar.url_for_next_view, class: "btn btn-primary" %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= "#{t('date.day_names')[day.wday]} - #{day.strftime('%-d')}" %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% passed_block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
