<!DOCTYPE html>
<html>
  <head>
    <title>Absurd Archery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm mb-2">
          <%= link_to root_path do %>
            <img class="w-100 lazyload"
              data-src="<%= asset_path('homepage/category_banner_upper.jpg') %>"
              data-srcset="<%= image_source_set('homepage/category_banner_upper') %>"
              alt="Home">

            <div class="homepage-taxon-box-text">
              <h3>Home</h3>
            </div>
          <% end %>
        </div>

        <div class="col-sm mb-2">
          <%= link_to :syllabus do %>
            <img class="w-100 lazyload"
              data-src="<%= asset_path('homepage/category_banner_upper.jpg') %>"
              data-srcset="<%= image_source_set('homepage/category_banner_upper') %>"
              alt="Syllabus">

            <div class="homepage-taxon-box-text">
              <h3>Syllabus</h3>
            </div>
          <% end %>
        </div>

        <div class="col-sm mb-2">
          <%= link_to :schedule do %>
            <img class="w-100 lazyload"
              data-src="<%= asset_path('homepage/category_banner_upper.jpg') %>"
              data-srcset="<%= image_source_set('homepage/category_banner_upper') %>"
              alt="Schedule">

            <div class="homepage-taxon-box-text">
              <h3>Schedule</h3>
            </div>
          <% end %>
        </div>

        <div class="col-sm mb-2">
          <%= link_to :about do %>
            <img class="w-100 lazyload"
              data-src="<%= asset_path('homepage/category_banner_upper.jpg') %>"
              data-srcset="<%= image_source_set('homepage/category_banner_upper') %>"
              alt="About">

            <div class="homepage-taxon-box-text">
              <h3>About</h3>
            </div>
          <% end %>
        </div>

        <div class="col-sm mb-2">
          <%= link_to :contact do %>
            <img class="w-100 lazyload"
              data-src="<%= asset_path('homepage/category_banner_upper.jpg') %>"
              data-srcset="<%= image_source_set('homepage/category_banner_upper') %>"
              alt="Contact">

            <div class="homepage-taxon-box-text">
              <h3>Contact</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
