<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
  <head>
    <title>Absurd Archery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= render partial: "spree/shared/head" %>
    <%= render "spree/shared/paths" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || "default" %>" data-hook="body">
    <div class="container">
      <div id="overlay" class="overlay hide-on-esc"></div>

      <div class="row">
        <div class="col-sm mb-2 nav-link">
          <%= link_to root_path do %>
            <h3>Home</h3>
          <% end %>
        </div>

        <div class="col-sm mb-2 nav-link">
          <%= link_to :syllabus do %>
            <h3>Syllabus</h3>
          <% end %>
        </div>

        <div class="col-sm mb-2 nav-link">
          <%= link_to :schedule do %>
            <h3>Schedule</h3>
          <% end %>
        </div>

        <div class="col-sm mb-2 nav-link">
          <%= link_to :about do %>
            <h3>About</h3>
          <% end %>
        </div>

        <div class="col-sm mb-2 nav-link">
          <%= link_to :contact do %>
            <h3>Contact</h3>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container center-box px-5 pt-3">
      <%= yield %>
    </div>

    <div class="container footer text-center mb-3 mt-2">
      <%= link_to "Terms of Service", "/terms" %>
      <span> | © 2022 Derrick Francis</span>
    </div>
  </body>
</html>
